@font-face {
	font-family: 'Plaster', cursive;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noticia Text', serif;
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: Noticia Text, Georgia, Times, serif;
	margin: 0;
	line-height: 1.5;
	color: rgba(0,0,0,0.65);
	font-size: 21px;
	-webkit-transition: font-size 0.2s ease-out;
	-moz-transition: font-size 0.2s ease-out;
	-o-transition: font-size 0.2s ease-out;
	-ms-transition: font-size 0.2s ease-out;
	transition: font-size 0.2s ease-out;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

video {
	max-width: 100%;
	height: auto;
}

iframe, embed, object {
	max-width: 100%;
}

a {
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	-ms-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
	color: rgba(0,0,0,0.5);
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

p {
	max-width: 30em;
	margin: 1em auto;
}
p.centered { text-align: center; }

a:hover { color: #000; }

section { padding: 4em 1em; text-align: center; }
section.white { background-color: #fff; color: #555; }
section.black { background-color: #394150; color: #f5f5f5; }
on.video a { color: #fff; border-bottom: 1px solid #555; }

h1 {
	font-family: Plaster, Times New Roman;
	font-weight: normal;
	line-height: 1.1;
	font-size: 2.5em;
	text-align: center;
}

h2 {
	font-weight: normal;
}


img.fullimg {
	display: block;
	width: 100%;
	margin: 1em auto;
	max-width: 40em;
}

img.fullimg.real { max-width: none; }

hr {
	width: 33%;
	max-width: 15em;
	border: none;
	border-top: 2px solid rgba(0,0,0,0.1);
	margin: 4em auto;
}

div.clear { clear: both; }

/******
FOOTER
*******/

footer {
	background-color: #333;
	font-size: 0.8em;
	padding: 3em 1em;
	color: #777;
	text-align: center;
}

footer p {
	max-width: 36.5em;
}

footer a {
	color: #777;
	border-bottom: 1px solid #555;
}

footer a:hover {
	color: #fff;
}


/* TITLE */

section.tiptop {
	background-color: #222;
	color: #777;
	text-align: center;
	padding: 1em;
	font-style: italic;
}

section.title {
	background: white;
	padding-top: 0.5em;
	color: #444;
	}

section.title h1 {
	text-align: center;
	margin: 0.5em auto 0.5em auto;
	font-size: 3em;
	line-height: 1;
}

section.title h1 span {
	color: rgba(255,255,255,0.2);
}

section.title p, section.title p a {
	color: #90a9cf;
	font-family: Josefin Slab;
	text-transform: uppercase;
}

p.logo { text-align: center; }

h4 {
	font-weight: normal;
	font-style: italic;
}

/* foreword */

section.foreword { text-align: center; font-size: 0.9em; }
section.foreword img, section.white img, section.black img { display: block; margin: 0 auto 1em; }

/* PANEL 1 */

section.panel1 h1 {
	max-width: 10em;
	margin: 1em auto;
}

/* Aspirin */

img.centeredIcon {
	display: block;
	margin: 0 auto;
	width: 25%;
	max-width: 10em;
	padding: 2.5em;
}

p.stretch {
	font-style: italic;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 1em 0;
}

a.noborder { border: none; }


section.denim {
	background: url('http://www.sdwhaven.com/wp-content/uploads/2012/12/Seamless-Denim-Fabric-Texture-600x600.jpg') top center;
	color: #fff;
}

section.cloud {
	background: #bbcde8 url('http://upload.wikimedia.org/wikipedia/commons/3/3d/Big_pink_cloud_Oia.jpg') repeat center top;
}

section.nude {
	background: white url('/img/durer-nudes.jpg') no-repeat center center;
	min-height: 500px;
	background-size: 100%;
}

section.mannequin {
	background: #ccc url('/img/2594838123_d59a611a5f_o.jpg') no-repeat center center;
	background-size: 100%;
	color: white;
}

.survey form {
	max-width: 1000px;
	margin: 0 auto;
}
.survey label {
	display: block;
}
.survey input {
	width: 100%;
	max-width: 500px;
}

.input-group li+li {
	margin-bottom: 6px;
	font-family: sans-serif;
	font-size: .7em;
}

.input-group li:first-child {
	margin-bottom: 5px;
}

.three-col ul {
	list-style: none;
	float: left;
	width: 33%;
	margin: 0;
	padding: 0 0 35px 0;
}

.input-group input {
	display: inline;
	width: 20px;
}
.input-group label {
	display: inline;
}
div.survey-container {
	width: 20%;
	float: left;
}
.mc-field-group {
	padding-bottom: 35px;
}
.mc-field-group.input-group{
	padding-bottom: 0;
}
.survey-container p{
	margin-bottom: 0px;
}
.survey-container input {
	width: 60px;
}
input#mc-embedded-subscribe {
	width: 100px;
	font-size: .8em;
	background-color: #283e67;
	border: 0;
	padding: 2px 0;
	margin: 30px 0;
	color: white;
	font-style: italic;
}

input#mc-embedded-subscribe:hover {
	background-color: #26457d ;
}
span.optional {
	font-size: 80%;
}

.italic {
	font-style: italic;
}

.helper {
	font-style: italic;
	font-size: .6em;
}
div.center {
	display: table-cell;
	vertical-align: middle;
	height: 400px;
}
.mannequin {
	font-size: 2em;
	font-style: italic;
}

h2 { text-align: center; font-style: italic; }

h3	{
	font-weight: normal;
	font-size: 1.4em;
}
blockquote {
	margin: 2em auto;
	font-size: 1.2em;
	max-width: 35em;
	color: rgb(185, 154, 84);
}


@media only screen and (max-width: 55em) {	body { font-size: 18px; } }
@media only screen and (max-width: 30em) {
	section { padding-top: 2em; padding-bottom: 2em; }
	section.nude, section.cloud, section.mannequin { background-size: 200%; }
	div.survey-container, .three-col ul {
		width: 100%;
		float: none;
	}
	h1.emph { font-size: 1.8em; }
	section.title h1 { font-size: 3.5em; }
	p { -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }
}