---
layout: default
title: An opinionated newsletter about startups and entrepreneurship
---
<div id="headerHome" class="hide-for-small">
	<div class="row">
		<div class="large-12 columns text-center">
			
		</div>
	</div>
</div> <!-- /headerHome -->

<div id="pullout">
	<div class="row">
		<div class="small-12 columns text-center">
			{% for post in site.posts limit:1 %}
			<p>Latest Post: <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></p>
			{% endfor %}
		</div>
	</div>
</div> <!-- /pullout -->

<div id="newsletter">
	<div class="row">
		<div class="large-6 columns">
			<h3>PERSON &amp; PLACE</h3>
			<p>I gave up on art after graduating with an art degree. This is my project to get back to creating for its own beautiful sake. I make no claims that this work is "good" or "original" just that it comes from me and that I want it to be in the world. Art straight to your inbox.</p>
		</div>
		<div class="large-6 columns">
			<h3>SUBSCRIBE</h3>
			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
				<form action="http://skinnywhitegirl.us2.list-manage2.com/subscribe/post?u=493c3cbc6ea8f074d84037bef&amp;id=b097d9ee8e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<p>
						<span class="highlight"><strong>Be awesome:</strong></span> Subscribe now for your weekly fix.<br>
						No spam; I swear.
					</p>
					<label>Enter your email address to subscribe:</label>
					<div class="row collapse">
						<div class="small-9 columns">
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
						</div>
						<div class="small-3 columns">
							<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button prefix">
						</div>
					</div>
				</form>
			</div> <!-- /mc_embed_signup-->
		</div>
	</div>
</div> <!-- /newsletter -->

<div id="post">
	<div class="row">
		<div class="large-12 columns">
			{% for post in site.posts limit:10 %}
			<h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
			{{ post.content }}
			{% endfor %}
		</div>
	</div>
</div> <!-- /post -->
